* {
	padding: 0;
	margin: 0;
}

.header {
	background: url(../images/background_index.jpg) no-repeat center;
	background-size:cover;
	/*alto*/
	height:800px; 
	min-height: 100vh;
  }

.header .navbar {
	background-color: transparent !important;
  }

.container-fluid{
	background-color: black;
}

.a{
	color: aliceblue;
}

.paddingTB {
	padding-top: 50px;
	padding-bottom: 50px;
}

.footerBg {
	/*background-color: rgb(250, 245, 245);*/
	background-color: #f8f9fa;
}

.footerBg h3 {
	color: #b6afaf;
	text-align: center;
}

.footerBg p{
	text-align: center;
	margin-top: 10px;
	color:rgb(219, 215, 215)
}

.footerBg .item img{
	width: 35px;
	height: 35px;
}

.footer_box_copyright p{
	color: #797575;
}

.item_contact{
	display:inline-block
}

img.alineadoTextoImagenCentro{
	vertical-align: middle;
}
